<h2><b>Enter your dojo</b></h2>

<table cellspacing="4" 
       class="rounded panel">
  <% @dojos.sort.each do |dojo| -%>
  <tr>
    <td>
      <%= button_to dojo, "/dojo/choose_kata?dojo_id=#{dojo}" %>
    </td>
  </tr>
  <% end -%>
</table>
