<h2><b>Select your kata</b></h2>

<table cellspacing="4" 
       class="rounded panel">
  <% @katas.sort.each do |kata| -%>
  <tr>
    <td>
      <%= button_to kata, "/dojo/choose_avatar?dojo_id=#{@dojo_id}&kata_id=#{kata}" %>
    </td>
  </tr>
  <% end -%>
</table>
