<div id="file_manager" class="rounded panel">
  <%= render :partial => 'avatar_buttons' -%>
  <%= render :partial => 'file_list' -%>
</div>
<%= render :partial => 'editor' -%>

<%= render :partial => 'hidden_text_areas' -%>


